@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Kay+Pho+Du:wght@400;700&family=Noto+Sans+JP&display=swap');

/* Colores */
$cafeOscuro: #8b5e34;
$azul: #2196f3;
$background: #f2f2f2;
$blanco: #fff;
$negro: #323232;
$gris: #adb5bd;

/* Pantalla */
$mobile: 480px;
$tablet: 768px;
$escritorio: 1024px;

/* Tipografía */
$titulo: 'Agbalumo', sans-serif;
$opcion: 'Kay Pho Du', sans-serif;
$dato: 'Noto Sans JP', sans-serif;